# Maven target directory
/target

# Maven temporary file
/dependency-reduced-pom.xml

# IntelliJ IDEA directory
/.idea

# ???
/*.iml

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Demo files build results
/CPP_QualityProfile.md
/CPP_QualityProfile.xml
/CSS_QualityProfile.md
/CSS_QualityProfile.xml
/HTML_QualityProfile.md
/HTML_QualityProfile.xml
/Java_QualityProfile.md
/Java_QualityProfile.xml
/TypeScript_QualityProfile.md
/TypeScript_QualityProfile.xml
/XML_QualityProfile.md
/XML_QualityProfile.xml

# Further rules downloads
/*Rules*.json
